In [1]:
import geopandas
import pathlib
from IPython.core.display import display, HTML

display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
slope_file = pathlib.Path(r"C:\Users\pearsonra\Documents\data\river_bathemetry\rec_domains\rec2_4\rec2_wshed_slopesV4.shp")
slope_data = geopandas.read_file(slope_file)

## Data sources

* Building polygons - all sources - https://data.linz.govt.nz/layer/101292-nz-building-outlines-all-sources/
* Populations - 2013 - https://datafinder.stats.govt.nz/layer/8437-population-by-meshblock-2013-census/
* Building points - not many included - https://data.linz.govt.nz/layer/50245-nz-building-points-topo-150k/

In [4]:
slope_data

,OBJECTID_1,HydroID,GridID,OBJECTID,nzsegment,nzreach_re,Area,Shape_Leng,Shape_Area,MIN,MAX,MEAN,STD,NextDownID,Population,buildings,geometry
0,2,2,2,2,1000002,1000001,1.977769e+06,10136.584413,1.977769e+06,0.071171,44.230194,16.600950,8.939424,1000028,5,0,"POLYGON ((1600664.463 6190838.348, 1600663.822..."
1,3,3,3,3,1000003,1000005,4.559958e+05,3598.799818,4.559958e+05,0.225342,26.455154,12.293967,5.255663,1000007,1,0,"POLYGON ((1601589.386 6192400.644, 1601589.020..."
2,4,4,4,4,1000004,1000003,1.056783e+06,6057.941383,1.056783e+06,0.275875,41.629078,18.056923,8.191334,1000011,3,0,"POLYGON ((1599582.642 6191554.799, 1599582.550..."
3,5,5,5,5,1000005,1000004,2.185538e+05,2639.117676,2.185538e+05,0.909617,30.833054,13.661181,4.918618,1000007,1,0,"MULTIPOLYGON (((1601736.774 6193240.817, 16017..."
4,6,6,6,6,1000006,1000006,8.634214e+05,5758.069894,8.634214e+05,0.127082,40.630329,17.796480,8.113828,0,2,0,"POLYGON ((1601951.456 6191681.987, 1601951.090..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
593543,593578,0,0,0,1040001,0,1.506662e+05,1856.468604,1.506662e+05,0.000000,15.468572,7.052534,3.820296,-1,3,5,"POLYGON ((1732360.919 6016242.956, 1732151.480..."
593544,593579,593556,238650,238650,7260001,0,8.667470e+03,477.114625,8.667470e+03,0.528740,0.741474,0.649511,0.055616,1187106,0,0,"POLYGON ((1789562.819 5528862.036, 1789488.661..."
593545,593580,593557,238650,238650,7260002,0,5.358793e+04,1370.983060,5.358793e+04,0.571585,1.192576,0.972228,0.154319,-1,1,19,"POLYGON ((1789232.761 5528893.372, 1789477.119..."
593546,593581,593558,139071,407948,13300034,0,1.502601e+05,2351.977658,1.502601e+05,0.244225,0.572335,0.381231,0.079516,1001870,1,0,"POLYGON ((1523812.798 5155216.835, 1523812.806..."
593547,593555,0,0,0,13300031,0,3.031527e+02,78.645535,3.031527e+02,0.000000,0.000000,0.000000,0.000000,1187033,0,0,"POLYGON ((1576501.740 5195945.999, 1576498.749..."